In [1]:
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import tqdm # interactive progress bar

plt.style.use('ggplot')
%matplotlib inline

In [2]:
import pymysql
import pers_data
import sql_queries

mysql_conn= pymysql.connect(host=pers_data.HOST, 
                port=pers_data.PORT,user=pers_data.USER, passwd=pers_data.PASSWD, 
                db=pers_data.DB, charset='utf8')
#connection.use_unicode =  True

# data_y=pd.DataFrame()
# # data_y=pd.read_sql(sql_queries.SQL_QUERY, con=mysql_conn)
# for i in sql_queries.list0.split(','):
#     data_y=data_y.append(pd.read_sql(sql_queries.SQL_QUERY.format(i), con=mysql_conn))

In [3]:
# data_y
# data_y.to_csv('repeats.csv', sep=';', index=False)

In [3]:
url_to_data = 'data/повторки-янв.csv'
data = pd.read_csv(url_to_data, names=['EI','PHONE_NUM','CREATE_DATE','Num_of_EI'], na_values='0', delimiter=';', skiprows=[0])

In [4]:
grouped_by_phone=data.groupby('PHONE_NUM')
grouped_by_phone.head()

            EI   PHONE_NUM          CREATE_DATE  Num_of_EI
0    E02394477   501000858  2016-12-31 19:49:35          2
1    E02417480   501000858  2017-01-05 15:42:50          2
2    E02423377   501001241  2017-01-06 16:44:48          3
3    E02568727   501001241  2017-01-25 13:32:41          3
4    E02569452   501001241  2017-01-25 14:54:08          3
5    E02584290   501002349  2017-01-27 22:49:39          2
6    E02546230   501002349  2017-01-22 19:45:04          2
7    E02425479   501010522  2017-01-06 20:57:48          2
8    E02422901   501010522  2017-01-06 15:16:19          2
9    E02581832   501016370  2017-01-26 23:27:29          3
10   E02577079   501016370  2017-01-26 12:52:59          3
11   E02598928   501016370  2017-01-30 19:19:06          3
12   E02423230   501019404  2017-01-06 16:14:37          2
13   E02428801   501019404  2017-01-07 14:26:26          2
14   E02407707   501026867  2017-01-03 19:46:31          2
15   E02411057   501026867  2017-01-04 13:08:27          2
16   E02417976   501029184  2017-01-05 17:27:37          2
17   E02562202   501029184  2017-01-24 16:51:55          2
18   E02497976   501030118  2017-01-16 18:04:19          2
19   E02528529   501030118  2017-01-20 14:39:07          2
20   E02429351   501030267  2017-01-07 15:11:36          2
21   E02586382   501030267  2017-01-28 22:51:48          2
22   E02465027   501030558  2017-01-12 12:56:25          2
23   E02495563   501030558  2017-01-16 14:31:28          2
24   E02594005   501031879  2017-01-30 11:53:48          2
25   E02596381   501031879  2017-01-30 14:55:22          2
26   E02414906   501034209  2017-01-04 23:07:37          2
27   E02384991   501034209  2016-12-30 12:55:12          2
28   E02459226   501035668  2017-01-11 17:06:51          2
29   E02523805   501035668  2017-01-19 20:12:49          2
..         ...         ...                  ...        ...
790  E02589305  4997927226  2017-01-29 16:11:37          2
791  E02593877  4997936533  2017-01-30 11:43:52          2
792  E02568203  4997936533  2017-01-25 12:37:49          2
793  E02527743  4997972112  2017-01-20 13:11:41          2
794  E02527177  4997972112  2017-01-20 12:09:59          2
795  E02402629  4999003868  2017-01-02 20:01:19          2
796  E02401654  4999003868  2017-01-02 17:17:36          2
797  E02515151  4999005537  2017-01-18 18:42:54          2
798  E02522575  4999005537  2017-01-19 17:55:29          2
799  E02445930  4999023216  2017-01-09 19:57:20          2
800  E02427952  4999023216  2017-01-07 13:15:46          2
801  E02584846  4999043825  2017-01-28 12:28:58          2
802  E02583460  4999043825  2017-01-27 16:55:54          2
803  E02416808  4999055451  2017-01-05 14:06:53          2
804  E02436065  4999055451  2017-01-08 14:54:26          2
805  E02409059  4999064484  2017-01-04 09:03:09          3
806  E02410530  4999064484  2017-01-04 12:15:53          3
807  E02470361  4999064484  2017-01-13 00:49:06          3
808  E02544602  4999064918  2017-01-22 16:44:06          2
809  E02545527  4999064918  2017-01-22 18:06:34          2
810  E02486481  4999129062  2017-01-15 11:25:46          2
811  E02484476  4999129062  2017-01-14 19:38:37          2
812  E02497957  4999662711  2017-01-16 18:02:24          2
813  E02421754  4999662711  2017-01-06 12:58:33          2
814  E02429628  4999765661  2017-01-07 15:53:57          2
815  E02438177  4999765661  2017-01-08 19:24:23          2
816  E02422710  4999773528  2017-01-06 15:12:01          4
817  E02512927  4999773528  2017-01-18 14:15:42          4
818  E02504151  4999773528  2017-01-17 14:21:41          4
819  E02598807  4999773528  2017-01-30 19:04:17          4

[819 rows x 4 columns]