In [ ]:
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [2]:
# help(pd.read_csv)
url_to_data = 'data/data1708_fromAug2017.csv'
data = pd.read_csv(url_to_data, names=['REQUEST_ID', 'MODIFIED_DATE', 'CLIENT_CATEGORY', 'SEGMENT',
                                       'CREATE_DATE', 'CLOSETIME', 'GNAME1', 'GNAME2', 'GNAME2_PREV',
                                       'football', 'STATUS', 'SERVICE', 'PHONE_NUM', 'ASRZ200_ID',
                                       'CHANNELREQUESTID', 'channeltype', 'source', 'MI_ID', 'PRIORITY',
                                       'IMPACT', 'URGENCY', 'RESPZONE_SOLUTION', 'RESPZONE_PROBLEM',
                                       'PERSID4', 'CLIENT', 'PERSID2', 'PERSID2_PREV', 'GID2', 'GID2_PREV',
                                       'TIMELEFTOLA', 'TIMELEFTSLA', 'OPERATOR', 'DOGID', 'CONTRACT_NUM',
                                       'FIXTIME', 'ASRZTTID', 'SERVICEIMPATSCLS', 'LOC_EADDR_ID1', 'DECLARED_FAULT',
                                       'ASRZ208_STATUS', 'ASRZ200_STATUS', 'CHANNELID', 'BUSINESS_CATEGORY',
                                       'TYPE_TIER_TT', 'CLIENTCHANNELADDRESS', 'num_of_repeat', 'CHANNELREQUESTID2',
                                       'num_of_repeat'], na_values='0', delimiter=';', skiprows=[0])

C:\Users\MRekunchak\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (39,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.shape

(23862, 48)

In [4]:
# data.columns=['A' + str(i) for i in range(len(data.columns))]
# data.head()

In [5]:
# data.describe()

In [6]:
# extract categorical and numerical features
categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object']
numerical_columns   = [c for c in data.columns if data[c].dtype.name != 'object']
print('Categorical columns: ', categorical_columns)
print('Numerical columns: ', numerical_columns)

Categorical columns:  ['REQUEST_ID', 'CLIENT_CATEGORY', 'SEGMENT', 'GNAME2_PREV', 'PHONE_NUM', 'CHANNELREQUESTID', 'URGENCY', 'CLIENT', 'DOGID', 'CONTRACT_NUM', 'DECLARED_FAULT', 'ASRZ208_STATUS', 'CLIENTCHANNELADDRESS', 'num_of_repeat']
Numerical columns:  ['MODIFIED_DATE', 'CREATE_DATE', 'CLOSETIME', 'GNAME1', 'GNAME2', 'football', 'STATUS', 'SERVICE', 'ASRZ200_ID', 'channeltype', 'source', 'MI_ID', 'PRIORITY', 'IMPACT', 'RESPZONE_SOLUTION', 'RESPZONE_PROBLEM', 'PERSID4', 'PERSID2', 'PERSID2_PREV', 'GID2', 'GID2_PREV', 'TIMELEFTOLA', 'TIMELEFTSLA', 'OPERATOR', 'FIXTIME', 'ASRZTTID', 'SERVICEIMPATSCLS', 'LOC_EADDR_ID1', 'ASRZ200_STATUS', 'CHANNELID', 'BUSINESS_CATEGORY', 'TYPE_TIER_TT', 'CHANNELREQUESTID2', 'num_of_repeat.1']

In [7]:
# data[numerical_columns].describe()

In [8]:
data[categorical_columns].describe() # Stats for categorial features

,REQUEST_ID,CLIENT_CATEGORY,SEGMENT,GNAME2_PREV,PHONE_NUM,CHANNELREQUESTID,URGENCY,CLIENT,DOGID,CONTRACT_NUM,DECLARED_FAULT,ASRZ208_STATUS,CLIENTCHANNELADDRESS,num_of_repeat
count,23862,23678,23833,8398,21987,21181,1113,23820,1318,16900,23835,21164,23835,21173
unique,23860,32,12,99,18900,19445,9,20595,881,15046,205,5,20983,63
top,"ЗАО ""Макомнет""",ФЛ,МР,30000000000405,49500000,10513602,2,"ЗАО ""ДИКСИ Юг""",1-9AZWS-6,ххх,"Телефония. Тишина в трубке, нет зуммера",1,6c3e226b4d4795d518ab341b0824ec29,1
freq,2,18138,18730,1815,1200,6,611,200,26,93,2530,13957,543,7358

In [9]:
# data.describe(include=[object]) # Another way to do the same

In [10]:
data.head()

,REQUEST_ID,MODIFIED_DATE,CLIENT_CATEGORY,SEGMENT,CREATE_DATE,CLOSETIME,GNAME1,GNAME2,GNAME2_PREV,football,...,DECLARED_FAULT,ASRZ208_STATUS,ASRZ200_STATUS,CHANNELID,BUSINESS_CATEGORY,TYPE_TIER_TT,CLIENTCHANNELADDRESS,num_of_repeat,CHANNELREQUESTID2,num_of_repeat.1
0,3874727,1.501584e+09,ФЛ,МР,1.501547e+09,1.501584e+09,3.000000e+13,3.000000e+13,NaN,3.0,...,Интернет. Нестабильная работа/разрывы,1,1.0,1198527.0,4.0,NaN,613c66ed423e05e90627a2e06ed3d48b,2,8729247.0,2.0
1,3874728,1.501570e+09,NKA,КОРП,1.501550e+09,1.501570e+09,4.000000e+13,4.000000e+13,40000000000003,4.0,...,Не работает канал VPN,NaN,NaN,NaN,2.0,4.0,c1612cd629f27a03151fe16c20d45bb4,NaN,NaN,NaN
2,3874729,1.501562e+09,ФЛ,МР,1.501558e+09,1.501562e+09,3.000000e+13,3.000000e+13,30000000000405,5.0,...,"Интернет. Нет авторизации, линк есть",1,1.0,20586641.0,4.0,NaN,14f25acc96ee5934de5a49da96c0d32d,1,24888099.0,1.0
3,3874730,1.501560e+09,ФЛ,МР,1.501560e+09,1.501560e+09,3.000000e+13,3.000000e+13,NaN,2.0,...,ТВ. Ошибка при активации приставки,1,1.0,10200877.0,4.0,4.0,eb10cafbf2b03c70ba84b7a6a33e581d,1,12973899.0,1.0
4,3874731,1.501903e+09,ФЛ,МР,1.501560e+09,1.501903e+09,3.000000e+13,3.000000e+13,NaN,3.0,...,Swap ONT Huawei,1,1.0,588591.0,4.0,NaN,c3d16c048f4a12e126af6be0f607e9be,1,5752877.0,1.0

In [11]:
# Cleaning the data
# dropped_data_without_empty_cols = data.dropna(axis=1)
# dropped_data_without_empty_rows = data.dropna(axis=0)
# data.count(axis=0)
# for c in data[['CLIENT_CATEGORY','SEGMENT', 'DECLARED_FAULT']]:
#     print(c, data[c].unique())
data['num_of_repeat']=data['num_of_repeat'][data['num_of_repeat'].isin([i for i in range(1000)] + [str(i) for i in range(1000)])]
data['num_of_repeat']=data['num_of_repeat'].replace(to_replace=[np.nan]+[str(i) for i in range(1000)], value=[0]+[i for i in range(1000)])



data['DECLARED_FAULT']=data['DECLARED_FAULT'].replace(to_replace=data['DECLARED_FAULT'].unique(), value=[i for i in range(len(data['DECLARED_FAULT'].unique()))]) 

data['CLIENT_CATEGORY']=data['CLIENT_CATEGORY'][data['CLIENT_CATEGORY'].isin(['ФЛ', 'SOHO', 'NKA', 
'Выделенное обслуживание (пилот)', 'GS-SLA4', 'SME', 'Оператор', 'SME GS', 'Corporate', 'KA', 'SOHO_GS', 'GS-SLA1', 
'Corporate GS', 'GS-Имидж абоненты', 'Имидж-абоненты (физические лица)', 'GS-SLA3', 'INDIVIDUAL', 'KA GS', 'ФЛ_ИЗ_МРМ',
'Развитие', 'СПЕЦ', 'Внутренний', 'Посольства', 'Имидж-абоненты (юридические лица)', 'NKA GS'])]
data['CLIENT_CATEGORY']=data['CLIENT_CATEGORY'].replace(to_replace=data['CLIENT_CATEGORY'].unique(), value=[i for i in range(len(data['CLIENT_CATEGORY'].unique()))]) 

data['SEGMENT']=data['SEGMENT'][data['SEGMENT'].isin(['МР','КОРП','ГОС','Оператор','БС28','Внутренний','БС22'])]
data['SEGMENT']=data['SEGMENT'].replace(to_replace=data['SEGMENT'].unique(), value=[i for i in range(len(data['SEGMENT'].unique()))]) 

# data['num_of_repeat'].unique()

# data['source'].value_counts()
# come back later
# data.columns # SERVICE channeltype source MI_ID', 'PRIORITY',
#        'IMPACT', 'URGENCY', 'RESPZONE_SOLUTION', 'RESPZONE_PROBLEM', 'PERSID4',
#        'CLIENT', 'PERSID2', 'PERSID2_PREV', 'GID2', 'GID2_PREV', 'TIMELEFTOLA',
#        'TIMELEFTSLA', 'OPERATOR', 'DOGID', 'CONTRACT_NUM', 'FIXTIME',
#        'ASRZTTID', 'SERVICEIMPATSCLS', 'LOC_EADDR_ID1', 'DECLARED_FAULT',
#        'ASRZ208_STATUS', 'ASRZ200_STATUS', 'CHANNELID', 'BUSINESS_CATEGORY',

In [12]:
# Generation of data
data['decision_time'] = data['CLOSETIME']-data['CREATE_DATE']

In [13]:
data['CLOSETIME'].unique()

array([  1.50158397e+09,   1.50156963e+09,   1.50156186e+09, ...,
         1.50295420e+09,   1.50295436e+09,   1.50295452e+09])

In [51]:
# Selecting data
sel_data = pd.concat((data['CLIENT_CATEGORY'],
data['SEGMENT'],
data['SERVICE'],
data['channeltype'],
data['source'],
# data['CHANNELREQUESTID'],
data['football'],
data['DECLARED_FAULT'],
data['num_of_repeat'],
data['CREATE_DATE'],
data['CLOSETIME'],
data['decision_time'],
# data['TIMELEFTSLA']
                     ), axis=1)
sel_data.describe()

,CLIENT_CATEGORY,SEGMENT,SERVICE,channeltype,source,football,DECLARED_FAULT,num_of_repeat,CREATE_DATE,CLOSETIME,decision_time
count,23862.000000,23862.000000,2.386200e+04,2.386200e+04,2.386200e+04,2.386200e+04,23862.000000,23862.000000,2.386200e+04,2.386200e+04,2.386200e+04
mean,1.656357,0.277764,1.999833e+12,2.000001e+12,2.000001e+12,1.487045e+06,30.215699,1.952812,1.155964e+10,1.502288e+09,9.285342e+04
std,3.916259,0.651279,1.830960e+10,3.256809e+02,3.888956e+02,1.624249e+08,27.595599,2.706714,5.932179e+11,3.730918e+05,1.326039e+05
min,0.000000,0.000000,1.169462e+07,2.000001e+12,2.000001e+12,1.000000e+00,0.000000,0.000000,1.501547e+09,1.501560e+09,7.000000e+00
25%,0.000000,0.000000,2.000001e+12,2.000001e+12,2.000001e+12,3.000000e+00,12.000000,1.000000,1.501862e+09,1.502014e+09,1.234925e+04
50%,0.000000,0.000000,2.000001e+12,2.000001e+12,2.000001e+12,3.000000e+00,22.000000,1.000000,1.502256e+09,1.502286e+09,6.080900e+04
75%,0.000000,0.000000,2.000001e+12,2.000001e+12,2.000001e+12,4.000000e+00,35.000000,2.000000,1.502625e+09,1.502595e+09,9.279750e+04
max,25.000000,7.000000,2.000001e+12,2.000001e+12,2.000001e+12,1.774495e+10,205.000000,96.000000,4.000000e+13,1.502955e+09,1.284358e+06

In [53]:
# extract categorical and numerical features for sel_data
categorical_columns = [c for c in sel_data.columns if sel_data[c].dtype.name == 'object']
numerical_columns   = [c for c in sel_data.columns if sel_data[c].dtype.name != 'object']
print('Categorical columns: ', categorical_columns, len(categorical_columns))
print('Numerical columns: ', numerical_columns, len(numerical_columns))

Categorical columns:  [] 0
Numerical columns:  ['CLIENT_CATEGORY', 'SEGMENT', 'SERVICE', 'channeltype', 'source', 'football', 'DECLARED_FAULT', 'num_of_repeat', 'CREATE_DATE', 'CLOSETIME', 'decision_time'] 11

In [54]:
# # full list of categorical columns, where 'nan' is missing values
# for c in sel_data:
#     print(c, sel_data[c].unique(), len(sel_data[c].unique()))

In [55]:
# # for each numerical/quantitative feature built histogram,
# # for each pair of nemerical built dispersion (scattering) diagram
# from pandas.plotting import scatter_matrix
# scatter_matrix(data, alpha=0.05, figsize=(15, 15));

In [56]:
sel_data[numerical_columns].corr() # matrix of correlations

,CLIENT_CATEGORY,SEGMENT,SERVICE,channeltype,source,football,DECLARED_FAULT,num_of_repeat,CREATE_DATE,CLOSETIME,decision_time
CLIENT_CATEGORY,1.000000,0.636479,-0.003141,-0.101926,-0.152541,0.003141,0.171482,-0.003621,0.005817,0.016958,-0.019282
SEGMENT,0.636479,1.000000,-0.052327,-0.111103,-0.125009,0.052327,0.178254,-0.018026,0.096901,0.010305,-0.022578
SERVICE,-0.003141,-0.052327,1.000000,0.002596,-0.001129,0.000084,-0.024148,0.006606,-0.540007,0.000043,0.002213
channeltype,-0.101926,-0.111103,0.002596,1.000000,0.034967,-0.002596,0.038917,0.026986,-0.004808,0.009343,0.072285
source,-0.152541,-0.125009,-0.001129,0.034967,1.000000,0.001129,-0.163727,0.088697,0.002091,0.003201,0.024373
football,0.003141,0.052327,0.000084,-0.002596,0.001129,1.000000,0.024148,-0.006606,0.617176,-0.000043,-0.002213
DECLARED_FAULT,0.171482,0.178254,-0.024148,0.038917,-0.163727,0.024148,1.000000,0.026818,0.044718,0.012618,0.050946
num_of_repeat,-0.003621,-0.018026,0.006606,0.026986,0.088697,-0.006606,0.026818,1.000000,-0.012232,-0.021935,-0.015837
CREATE_DATE,0.005817,0.096901,-0.540007,-0.004808,0.002091,0.617176,0.044718,-0.012232,1.000000,-0.000079,-0.004097
CLOSETIME,0.016958,0.010305,0.000043,0.009343,0.003201,-0.000043,0.012618,-0.021935,-0.000079,1.000000,0.188638
decision_time,-0.019282,-0.022578,0.002213,0.072285,0.024373,-0.002213,0.050946,-0.015837,-0.004097,0.188638,1.000000

In [57]:
# Find the number of completed (not skipped) items
# axis = 0 means that we move counter from top to bottom, and axis = 1 than we move counter from left to right
sel_data.count(axis=0)

CLIENT_CATEGORY    23862
SEGMENT            23862
SERVICE            23862
channeltype        23862
source             23862
football           23862
DECLARED_FAULT     23862
num_of_repeat      23862
CREATE_DATE        23862
CLOSETIME          23862
decision_time      23862
dtype: int64

In [58]:
# fill the missing values
# fill all numerical features (Instead of gaps (missing values), we substitute the median values)
sel_data = sel_data.fillna(data.median(axis=0), axis=0)

In [59]:
# before
# data['A1'].describe()

In [60]:
# # fill the missing values in categorical feature with top value (Instead missing values) we substitute 
# # the top value in this column
# data['A1'] = data['A1'].fillna('b')

In [61]:
# result
sel_data.describe()

,CLIENT_CATEGORY,SEGMENT,SERVICE,channeltype,source,football,DECLARED_FAULT,num_of_repeat,CREATE_DATE,CLOSETIME,decision_time
count,23862.000000,23862.000000,2.386200e+04,2.386200e+04,2.386200e+04,2.386200e+04,23862.000000,23862.000000,2.386200e+04,2.386200e+04,2.386200e+04
mean,1.656357,0.277764,1.999833e+12,2.000001e+12,2.000001e+12,1.487045e+06,30.215699,1.952812,1.155964e+10,1.502288e+09,9.285342e+04
std,3.916259,0.651279,1.830960e+10,3.256809e+02,3.888956e+02,1.624249e+08,27.595599,2.706714,5.932179e+11,3.730918e+05,1.326039e+05
min,0.000000,0.000000,1.169462e+07,2.000001e+12,2.000001e+12,1.000000e+00,0.000000,0.000000,1.501547e+09,1.501560e+09,7.000000e+00
25%,0.000000,0.000000,2.000001e+12,2.000001e+12,2.000001e+12,3.000000e+00,12.000000,1.000000,1.501862e+09,1.502014e+09,1.234925e+04
50%,0.000000,0.000000,2.000001e+12,2.000001e+12,2.000001e+12,3.000000e+00,22.000000,1.000000,1.502256e+09,1.502286e+09,6.080900e+04
75%,0.000000,0.000000,2.000001e+12,2.000001e+12,2.000001e+12,4.000000e+00,35.000000,2.000000,1.502625e+09,1.502595e+09,9.279750e+04
max,25.000000,7.000000,2.000001e+12,2.000001e+12,2.000001e+12,1.774495e+10,205.000000,96.000000,4.000000e+13,1.502955e+09,1.284358e+06

In [63]:
try:
    data_describe = sel_data.describe(include=[object])
    data_describe
except:
    pass

In [64]:
# for c in categorical_columns:
#     data[c] = data[c].fillna(data_describe[c]['top'])
# data.describe(include=[object])

In [65]:
# data.describe()

In [66]:
# # devide categorical (non-numerical) columns to binary and nonbinary
# binary_columns    = [c for c in categorical_columns if data_describe[c]['unique'] == 2]
# nonbinary_columns = [c for c in categorical_columns if data_describe[c]['unique'] > 2]
# print(binary_columns, nonbinary_columns)

In [67]:
# # for non-binary columns|features vectorizing is 1) divide each column to the numbers of unique values in the column
# # 2) and if value exist then only one column's row filled like 1
# # for example, column A4 have 3 unique values: print(data['A4'].unique()) => ['u' 'y' 'l']
# # create 3 new columns: 4_u, A4_y, A4_l
# # If A4 value is 'u', then A4_u = 1, A4_y = 0, A4_l = 0, etc.
# # In Pandas it's performed via using .get_dummies method.

# data_nonbinary = pd.get_dummies(data[nonbinary_columns[6:8]], columns=None) # !!!!!! Limitation 6:10!!!!!!!!!1
# data_nonbinary.columns

In [68]:
# data = data_nonbinary
# data = pd.DataFrame(data, dtype=float)
# print(data.shape)
# print(data.columns)

In [69]:
# Normalization
data_numerical = sel_data[numerical_columns]
data_numerical = (data_numerical - data_numerical.mean()) / data_numerical.std()
data_numerical.describe()

,CLIENT_CATEGORY,SEGMENT,SERVICE,channeltype,source,football,DECLARED_FAULT,num_of_repeat,CREATE_DATE,CLOSETIME,decision_time
count,2.386200e+04,2.386200e+04,2.386200e+04,23862.000000,23862.000000,2.386200e+04,2.386200e+04,2.386200e+04,2.386200e+04,2.386200e+04,2.386200e+04
mean,-2.955551e-15,-7.600063e-16,-2.960021e-11,0.001565,-0.002921,-1.191987e-16,2.804963e-16,4.216940e-15,2.467594e-17,-1.919526e-13,-2.558882e-15
std,1.000000e+00,1.000000e+00,1.000000e+00,0.999999,0.999996,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-4.229438e-01,-4.264898e-01,-1.092226e+02,-0.285070,-6.884027,-9.155276e-03,-1.094946e+00,-7.214696e-01,-1.695513e-02,-1.951023e+00,-7.001788e-01
25%,-4.229438e-01,-4.264898e-01,9.155254e-03,-0.281999,0.120423,-9.155264e-03,-6.600943e-01,-3.520180e-01,-1.695460e-02,-7.334448e-01,-6.071027e-01
50%,-4.229438e-01,-4.264898e-01,9.155254e-03,-0.281999,0.120423,-9.155264e-03,-2.977177e-01,-3.520180e-01,-1.695394e-02,-4.715935e-03,-2.416552e-01
75%,-4.229438e-01,-4.264898e-01,9.155254e-03,-0.278929,0.120423,-9.155258e-03,1.733719e-01,1.743368e-02,-1.695332e-02,8.218133e-01,-4.216724e-04
max,5.960700e+00,1.032159e+01,9.155307e-03,4.523318,5.564044,1.092411e+02,6.333775e+00,3.474589e+01,6.740936e+01,1.786830e+00,8.985444e+00

In [70]:
data_numerical.head()

,CLIENT_CATEGORY,SEGMENT,SERVICE,channeltype,source,football,DECLARED_FAULT,num_of_repeat,CREATE_DATE,CLOSETIME,decision_time
0,-0.422944,-0.426490,0.009155,-0.281999,0.120423,-0.009155,-1.094946,0.017434,-0.016955,-1.886765,-0.424516
1,-0.167598,1.108951,0.009155,-0.281999,5.309476,-0.009155,-1.058709,-0.721470,-0.016955,-1.925198,-0.551156
2,-0.422944,-0.426490,0.009155,4.523318,0.120423,-0.009155,-1.022471,-0.352018,-0.016955,-1.946008,-0.671907
3,-0.422944,-0.426490,0.009155,-0.281999,0.120423,-0.009155,-0.986233,-0.352018,-0.016955,-1.951023,-0.697306
4,-0.422944,-0.426490,0.009155,-0.281999,0.120423,-0.009155,-0.949996,-0.352018,-0.016955,-1.030820,1.886601

In [71]:
X = sel_data.drop(('num_of_repeat'), axis=1)  # Exclude 'class' column
y = sel_data['num_of_repeat']
feature_names = X.columns
print(feature_names)

Index(['CLIENT_CATEGORY', 'SEGMENT', 'SERVICE', 'channeltype', 'source',
       'football', 'DECLARED_FAULT', 'CREATE_DATE', 'CLOSETIME',
       'decision_time'],
      dtype='object')

In [72]:
print(X.shape)
print(y.shape)
N, d = X.shape

(23862, 10)
(23862,)

In [73]:
# Devide for train and test samples
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 11)

N_train, _ = X_train.shape 
N_test,  _ = X_test.shape 
print(N_train, N_test)
# X_train, y_train is a training sample, X_test, y_test is a test sample.

16703 7159

In [74]:
# Teach the model
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [75]:
y_train_predict = knn.predict(X_train)
y_test_predict = knn.predict(X_test)

err_train = np.mean(y_train != y_train_predict)
err_test  = np.mean(y_test  != y_test_predict)
print(err_train, err_test)

0.439980841765 0.57913116357

In [76]:
from sklearn.model_selection import GridSearchCV
n_neighbors_array = [1, 3, 5, 7, 10, 15]
knn = KNeighborsClassifier()
grid = GridSearchCV(knn, param_grid={'n_neighbors': n_neighbors_array})
grid.fit(X_train, y_train)

best_cv_err = 1 - grid.best_score_
best_n_neighbors = grid.best_estimator_.n_neighbors
print(best_cv_err, best_n_neighbors)

C:\Users\MRekunchak\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

0.546668263186 15

In [77]:
knn = KNeighborsClassifier(n_neighbors=best_n_neighbors)
knn.fit(X_train, y_train)

err_train = np.mean(y_train != knn.predict(X_train))
err_test  = np.mean(y_test  != knn.predict(X_test))
print(err_train, err_test)

0.500987846495 0.549518089119

In [78]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)

err_train = np.mean(y_train != svc.predict(X_train))
err_test  = np.mean(y_test  != svc.predict(X_test))
print(err_train, err_test)

0.972639645573 0.974018717698

In [79]:
from sklearn.model_selection import GridSearchCV
C_array = np.logspace(-3, 3, num=7)
gamma_array = np.logspace(-5, 2, num=8)
svc = SVC(kernel='rbf')
grid = GridSearchCV(svc, param_grid={'C': C_array, 'gamma': gamma_array})
grid.fit(X_train, y_train)
print('CV error    = ', 1 - grid.best_score_)
print('best C      = ', grid.best_estimator_.C)
print('best gamma  = ', grid.best_estimator_.gamma)

C:\Users\MRekunchak\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

CV error    =  0.62096629348
best C      =  0.01
best gamma  =  1e-05

In [ ]:
svc = SVC(kernel='rbf', C=grid.best_estimator_.C, gamma=grid.best_estimator_.gamma)
svc.fit(X_train, y_train)

err_train = np.mean(y_train != svc.predict(X_train))
err_test  = np.mean(y_test  != svc.predict(X_test))
print(err_train, err_test)

0.972639645573 0.974018717698

In [ ]:
from sklearn.model_selection import GridSearchCV
C_array = np.logspace(-3, 3, num=7)
svc = SVC(kernel='linear')
grid = GridSearchCV(svc, param_grid={'C': C_array})
grid.fit(X_train, y_train)
print('CV error    = ', 1 - grid.best_score_)
print('best C      = ', grid.best_estimator_.C)

C:\Users\MRekunchak\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:581: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of groups for any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

In [ ]:
svc = SVC(kernel='linear', C=grid.best_estimator_.C)
svc.fit(X_train, y_train)

err_train = np.mean(y_train != svc.predict(X_train))
err_test  = np.mean(y_test  != svc.predict(X_test))
print(err_train, err_test)

In [ ]:
from sklearn.grid_search import GridSearchCV
C_array = np.logspace(-5, 2, num=8)
gamma_array = np.logspace(-5, 2, num=8)
degree_array = [2, 3, 4]
svc = SVC(kernel='poly')
grid = GridSearchCV(svc, param_grid={'C': C_array, 'gamma': gamma_array, 'degree': degree_array})
grid.fit(X_train, y_train)
print('CV error    = ', 1 - grid.best_score_)
print('best C      = ', grid.best_estimator_.C)
print('best gamma  = ', grid.best_estimator_.gamma)
print('best degree = ', grid.best_estimator_.degree)

In [ ]:
svc = SVC(kernel='poly', C=grid.best_estimator_.C, 
          gamma=grid.best_estimator_.gamma, degree=grid.best_estimator_.degree)
svc.fit(X_train, y_train)

err_train = np.mean(y_train != svc.predict(X_train))
err_test  = np.mean(y_test  != svc.predict(X_test))
print(err_train, err_test)

In [ ]:
from sklearn import ensemble
rf = ensemble.RandomForestClassifier(n_estimators=100, random_state=11)
rf.fit(X_train, y_train)

err_train = np.mean(y_train != rf.predict(X_train))
err_test  = np.mean(y_test  != rf.predict(X_test))
print(err_train, err_test)

In [ ]:
importances = rf.feature_importances_
indices = np.argsort(importances)[::-1]

print("Feature importances:")
for f, idx in enumerate(indices):
    print("{:2d}. feature '{:5s}' ({:.4f})".format(f + 1, feature_names[idx], importances[idx]))

In [ ]:
d_first = 42
plt.figure(figsize=(8, 8))
plt.title("Feature importances")
plt.bar(range(d_first), importances[indices[:d_first]], align='center')
plt.xticks(range(d_first), np.array(feature_names)[indices[:d_first]], rotation=90)
plt.xlim([-1, d_first]);

In [ ]:
print(len(feature_names))
best_features = indices[:8]
best_features_names = feature_names[best_features]
print(best_features_names)

In [ ]:
from sklearn import ensemble
gbt = ensemble.GradientBoostingClassifier(n_estimators=100, random_state=11)
gbt.fit(X_train, y_train)

err_train = np.mean(y_train != gbt.predict(X_train))
err_test = np.mean(y_test != gbt.predict(X_test))
print(err_train, err_test)

In [ ]:
gbt = ensemble.GradientBoostingClassifier(n_estimators=100, random_state=11)
gbt.fit(X_train[best_features_names], y_train)

err_train = np.mean(y_train != gbt.predict(X_train[best_features_names]))
err_test = np.mean(y_test != gbt.predict(X_test[best_features_names]))
print(err_train, err_test)